body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.event-description {
    max-height: 100px;
    overflow: hidden;
    position: relative;
    white-space: pre-wrap;
    color: #555;
}

.event-description.expanded {
    max-height: none;
}

/* Mostrar/Ocultar descripción */
.show-more {
    text-align: right;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

.show-more:hover {
    transform: scale(1.1);
}

/* Mejorar visibilidad y sombra de las tarjetas */
.card {
    border: 1px solid #ddd; /* Borde suave para destacar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Sombra inicial suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease !important; /* Transiciones suaves */
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px) !important; /* Elevar ligeramente la tarjeta al hacer hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important; /* Aumentar la sombra en hover */
}

/* Estilos específicos para el contenido de la tarjeta */
.card-body {
    padding: 20px; /* Añadir más padding para que el contenido respire mejor */
    transition: padding 0.3s ease;
}

/* Centrado del botón de paginación */
#load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#load-more {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#load-more:hover {
    background-color: #218838;
    transform: scale(1.1);
}
