body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0; /* Eliminamos el padding para que navbar y footer ocupen todo el ancho */
}

.event-description {
    max-height: 100px;
    overflow: hidden;
    position: relative;
    white-space: pre-wrap; /* Para respetar los saltos de línea en las descripciones */
    color: #555;
}

.event-description.expanded {
    max-height: none;
}

.show-more {
    display: block;
    text-align: right;
    color: #007BFF;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.show-more:hover {
    color: #0056b3;
    transform: scale(1.1);
}

/* Mejorar visibilidad de las tarjetas */
.card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; /* Fondo blanco para mayor contraste */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Centrado del botón de paginación */
#load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#load-more {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#load-more:hover {
    background-color: #218838;
    transform: scale(1.1);
}
