<!-- Modal de Contacto -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Si deseas contactarnos para:
                </p>
                <ul>
                    <li>Informar cambios en un evento existente.</li>
                    <li>Añadir un nuevo evento a nuestra base de datos.</li>
                    <li>Proponer mejoras o reportar problemas en la web.</li>
                </ul>
                <p>
                    Por favor, envíanos un correo a:
                </p>
                <p class="text-center text-primary fw-bold">
                    <a href="mailto:contacto@comicplan.com">contacto@comicplan.com</a>
                </p>
                <p class="text-muted text-center">
                    ¡Gracias por ayudarnos a mejorar ComicPlan!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>